name: smart_progress_circle_example
description: "Demonstrates how to use the smart_progress_circle plugin."
publish_to: 'none' # Prevent accidental publish

environment:
  sdk: '>=3.3.4 <4.0.0'

dependencies:
  flutter:
    sdk: flutter

  smart_progress_circle:
    path: ../

  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
